export(RandomLasso)
# export(RandomLassoSp) # Depreciated
export(ParallelRandomLasso)
export(RapidRandomLasso)
export(SteppedRandomLasso)
export(HiLasso)
importFrom('glmnet', 'cv.glmnet')
importFrom('glmnet', 'glmnet')
importFrom('parallel', 'mclapply')
importFrom('parallel', 'detectCores')