exportClasses(RandomSampling)
export(HiLasso)
export(RandomLasso)
export(multipleRandomBootstraps)
export(singleRandomBootstrap)
export(sampleRegressionData)
export(hiLassoStandardizationMethod)
importFrom('glmnet', 'cv.glmnet')
importFrom('glmnet', 'glmnet')
importFrom('parallel', 'mclapply')  # Depreciating
importFrom('parallel', 'mcmapply')
importFrom('parallel', 'detectCores')
importFrom('BiocParallel', 'bpmapply')
importFrom('BiocParallel', 'MulticoreParam')

