export(RandomLasso)
# export(RandomLassoSp) # Depreciated
export(ParallelRandomLasso)
export(RapidRandomLasso)
export(SteppedRandomLasso)
export(HiLasso)
export(HiLassoDS)
export(HiLassoC)
export(HiLassoTRI)
export(HiLassoPURE)
export(HiLassoVPURE)
export(HiLassoLessRand)
export(HiLassoAdaptive2)
export(singleRandomBootstrap)
export(sampleRegressionData)
importFrom('glmnet', 'cv.glmnet')
importFrom('glmnet', 'glmnet')
importFrom('parallel', 'mclapply')
importFrom('parallel', 'detectCores')
