export(RandomLasso)
# export(RandomLassoSp) # Depreciated
export(ParallelRandomLasso)
export(RapidRandomLasso)
export(SteppedRandomLasso)
importFrom('glmnet', 'cv.glmnet')
importFrom('glmnet', 'glmnet')